body{
    background-color: white;
    border: grey 15px solid ;
    border-radius: 10px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}

#cabecera1{
    
   
    border: forestgreen 5px solid;
    border-radius: 10px;
    height: 120px;
    margin: 1px 1px 1px 1px;

}
#cabecera2{
    border: forestgreen 5px solid;
    border-radius: 10px;
    height: 60px;
    margin: 1px 1px 1px 1px;
}
#navegador{
    border: burlywood 5px solid;
    border-radius: 10px;
    margin: 1px 1px 1px 1px;
}
#articulo{
    border: blue 5px solid;
    border-radius: 10px;
    width: 70%;
    margin: 1px 1px 1px 1px;
   
}
#conjuntodeasides{
    
    border: burlywood 5px solid;
    border-radius: 10px;
    flex-direction: column;
    justify-content:space-evenly;   
    width: 29%; 
    height: 420px;
    margin: 1px 1px 1px 1px;
    display: flex;

    
   
    
}
#aside1{
    border: lightblue 5px solid;
    border-radius: 10px;
    margin: 1px 1px 1px 1px;
    height: 50%;

}
#aside2{
    border: lightblue 5px solid;
    border-radius: 10px;
    height: 50%;
    margin: 1px 1px 1px 1px;
}
#footer2{
    border: yellow 5px solid;
    clear: both;
    
}
#footer1{
    border: yellow 5px solid;
    clear: both;
    margin: 1px 1px 1px 1px;
    border-radius: 10px;
   
}

#section2{
    border: purple 5px solid;
    margin: 1px 1px 1px 1px;
    border-radius: 10px;
    
   

}
#section1{
    border: purple 5px solid;
    border-radius: 10px;
    margin-top: 110px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    
}
#footer2{
    border: yellow 5px solid;
    margin: 1px 1px 1px 1px;
    border-radius: 10px;
}


.bodyg1{
    background-color: black;
}